---
title: ""
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>{{ title }} | benfleming.nz</title>
  </head>
  <body class="w-full">
    <div class="max-w-4xl mx-auto px-4 pt-16">
      <div>
        {{ content | safe }}
      </div>
      <footer class="my-4">
        <small>Last generated: {{ current_date }}</small><br/>
        <small>Total views: -</small>
      </footer>
    </div>
  </body>
</html>